<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="test/css" href="../static/app.css"/>
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<h>head</h>
<br>
profile: {{ uid }}
<br>
{# Test notes #}
{% for i in range(0, 5) %}
profile: {{ uid }}: {{ i }}<br>
{% endfor %}

{# Test loop.index #}
{% for color in colors %}
{{ loop.index }}: {{ color }}<br>
{% endfor %}

{% macro render_color(color) %}
<div>This is color {{ color }}</div><br>{{ caller() }}
{% endmacro %}

{% for color in colors %}
    {% call render_color(color)%}
        render_color_demo
    {% endcall %}
{% endfor %}
</body>
</html>